In [1]:
import pandas as pd
df=pd.read_csv("refined_diabetes_dataset.csv")

In [2]:
df.head()

,Diabetes_012,HighBP,HighChol,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,AnyHealthcare,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,CardioIssue,HealthyLifestyleScore,ComorbidityCount
0,0,1,1,1.757936,1,0,0,0,0,1,...,1,5,18,15,1,0,9,0,2,2
1,0,0,0,-0.511806,1,0,0,1,0,0,...,0,3,0,0,0,0,7,0,2,0
2,0,1,1,-0.057858,0,0,0,0,1,0,...,1,5,30,30,1,0,9,0,2,2
3,0,1,0,-0.209174,0,0,0,1,1,1,...,1,2,0,0,0,0,11,0,4,1
4,0,1,1,-0.663122,0,0,0,1,1,1,...,1,2,3,0,0,0,11,0,4,2

In [3]:
df.columns

Index(['Diabetes_012', 'HighBP', 'HighChol', 'BMI', 'Smoker', 'Stroke',
       'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'GenHlth', 'MentHlth', 'PhysHlth',
       'DiffWalk', 'Sex', 'Age', 'CardioIssue', 'HealthyLifestyleScore',
       'ComorbidityCount'],
      dtype='object')

In [14]:
import pandas as pd
import joblib

# Load model
model_path = "catboost_model.pkl"
loaded_model = joblib.load(model_path)

# Prepare new samples as DataFrame (only features, no target)
new_samples = pd.DataFrame([
    [1, 0, 28.5, 0, 0, 0, 1, 1, 0, 0, 1, 3, 1, 0, 0, 35, 0, 4, 2, 1],
    [0, 1, 32.0, 1, 0, 0, 0, 0, 0, 0, 4, 0, 1, 0, 1, 50, 0, 3, 3, 0]
], columns=['HighBP', 'HighChol', 'BMI', 'Smoker',
            'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
            'HvyAlcoholConsump', 'AnyHealthcare', 'GenHlth', 'MentHlth', 'PhysHlth',
            'DiffWalk', 'Sex', 'Age', 'CardioIssue', 'HealthyLifestyleScore', 'ComorbidityCount'])

# Predict
new_pred = loaded_model.predict(new_samples)
new_pred_proba = loaded_model.predict_proba(new_samples)

# Add predictions to DataFrame
new_samples['Predicted_Class'] = new_pred
new_samples['Prob_Class_0'] = new_pred_proba[:, 0]
new_samples['Prob_Class_1'] = new_pred_proba[:, 1]
new_samples['Prob_Class_2'] = new_pred_proba[:, 2]

new_samples

,HighBP,HighChol,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,...,DiffWalk,Sex,Age,CardioIssue,HealthyLifestyleScore,ComorbidityCount,Predicted_Class,Prob_Class_0,Prob_Class_1,Prob_Class_2
0,1,0,28.5,0,0,0,1,1,0,0,...,0,35,0,4,2,1,0,0.950574,0.001566,0.047860
1,0,1,32.0,1,0,0,0,0,0,0,...,1,50,0,3,3,0,0,0.986424,0.002942,0.010634

In [15]:
import pandas as pd
import joblib

# Load model
model_path = "catboost_model.pkl"
loaded_model = joblib.load(model_path)

# Take first 5 or 10 rows from X_test
num_samples = 5  # or 10
new_samples = X_test.iloc[:num_samples].copy()  # ensures it's a DataFrame

# Predict
new_pred = loaded_model.predict(new_samples)
new_pred_proba = loaded_model.predict_proba(new_samples)

# Add predictions to DataFrame
new_samples['Predicted_Class'] = new_pred
new_samples['Prob_Class_0'] = new_pred_proba[:, 0]
new_samples['Prob_Class_1'] = new_pred_proba[:, 1]
new_samples['Prob_Class_2'] = new_pred_proba[:, 2]

print(new_samples)

NameError: name 'X_test' is not defined